*{
margin: 0;
padding: 0;
}

.color-bar{
    width: 340px;
    height: 50px;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-content: center;
    justify-content: space-around;
    background-color: rgb(222, 222, 217);
   
    
}
.color{
    align-self: center;
    height: 30px;
    width: 30px;
    background-color: rgb(105, 214, 210);
    border-radius: 50%;
   
    transition: transform .5s;
}
button{
    border: none;
    outline: none;
   align-self: center;
    height: 40px;
    padding: .6em 1em;
    border-radius: 3px;
    background-color: #03bb56;
    color: #fff;
}
.save{
    background-color: crimson;
}
.save:hover{
    cursor: pointer;
    background-color: rgb(160, 15, 44);
}
.clear:hover{
    cursor: pointer;
    background-color: #01893e;
}
.color:hover{
    background-color: rgb(1, 1, 185);
}
.color:nth-child(1){
    background-color: #000;
}
.color:nth-child(1):hover{
    cursor: pointer;
    background-color: rgb(41, 41, 41);
}
.color:nth-child(2){
    
    background-color: #EF626C;
}
.color:nth-child(2):hover{
    cursor: pointer;
    background-color: #b34d54;
}
.color:nth-child(3){
    background-color: #fdec03;
}
.color:nth-child(3):hover{
    cursor: pointer;
    background-color: #b4a804;
}
.color:nth-child(4){
    background-color: #24d102;
}
.color:nth-child(4):hover{
    cursor: pointer;
    background-color: #168500;
}
.color:nth-child(5){
    background-color: #fff;
}
.color:nth-child(5):hover{
    cursor: pointer;
    background-color: rgb(180, 180, 180);
}